## -------------------------------
## Autotools artifacts
## -------------------------------
config/
configure
config-h.in
autom4te.cache
*Makefile.in
*Makefile
libtool
aclocal.m4

## -------------------------------
## Build artifacts
## -------------------------------
build/
*.o
*.lo
*.la
*~
*.pdf
*.swp
a.out

## -------------------------------
## Kate Swap Files
## -------------------------------
*.kate-swp
.#kate-*

## -------------------------------
## Backup artifacts
## -------------------------------
~*
*~
tmp/
 
## -------------------------------
## Doxygen artifacts
## -------------------------------
doc/

## -------------------------------
## Eclipse files
## -------------------------------
.wtpmodules
.classpath
.project
.cproject
.settings

/Debug/
/misc/

## -------------------------------
## Tag files
## -------------------------------

GTAGS
GRTAGS
GPATH
tags
