language: cpp
compiler:
    - g++

install:
    # get c++11 support
    - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - gcc-4.8
            - g++-4.8

before_script:
    # setup environment
    - sudo -H sh ./scripts/installation/packages.sh
<<<<<<< HEAD
    - export LD_LIBRARY_PATH=/usr/local/lib/:$LD_LIBRARY_PATH
    - export PATH=/usr/local/peloton/bin/:$PATH

script:
    # bootstrap
    - ./bootstrap
    - cd build
    - ../configure --enable-debug
    # make
    - make -j4
    # debugging
    - ls -larth /usr/local
    - ls -larth /usr/local/lib
    - echo $LD_LIBRARY_PATH
    - echo $PATH
    - cd tests
    - make check-build -j4
    - ldd ./tuple_test
    - ldd ./pair_test
    - cd ..    
    # run tests
    - sudo make check
=======

script:
    # bootstrap
    - ./bootstrap
    - cd build
    - ../configure CXXFLAGS="-O0"
    # make
    - make
    # debugging
    - make check
>>>>>>> refs/remotes/upstream/master
