sudo: required
dist: trusty

matrix:
    include:
        #- compiler: gcc
          #addons:
          #    apt:
          #      sources:
          #          - ubuntu-toolchain-r-test
          #          - boost-latest
          #      packages:
          #          - g++-4.9
          #env: CXX=g++-4.9
        - compiler: gcc
          addons:
              apt:
                sources:
                    - ubuntu-toolchain-r-test
                    - boost-latest
                packages:
                    - g++-5
          env: CXX=g++-5

before_script:
    # setup environment
    - ./script/installation/packages.sh
    - pip install --user cpp-coveralls

script:
    # first, run source_validator
    - python ./script/validators/source_validator.py
    # create build directory
    - mkdir build
    - cd build
    # run cmake
    - cmake -DCOVERALLS=ON -DCMAKE_BUILD_TYPE=Debug ..
    # build
    - make -j4
    # run tests
    - make check -j4
    # build benchmarks
    - make benchmark -j4
    # install peloton
    - make install
    # run psql tests
    # FIXME: Need to fix this for jenkins
    # - bash ../script/testing/psql/psql_test.sh
    # run jdbc tests
    - python ../script/validators/jdbc_validator.py
    # upload coverage info
    - make coveralls

